<% provide(:title, 'Admin') %>

<p> This page will display all user accounts </p>
<table class = "userIndex .table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Rate</th>
        <th>Commends</th>
        <th>Reports</th>
        <th>Created At</th>
        <th></th>
        <th></th>
        
    </tr>
    <tbody>
        <% @user.to_a.each do |user| %>
        <tr>
            <td><%= user.username %></td>
            
            <td><%= user.email %></td>
            
            <td>
                <% if user.guest %>
                    <%= "GUEST" %>
                <% elsif user.admin_user %>
                    <%= "ADMIN" %>
                <% else %>
                    <%= "STANDARD" %>
                <% end %>
            </td>
            <!--Rating-->
            <td>
                <%= link_to image_tag("thumbsup.svg", alt: "Commend", size: "20x20" ), commend_path(user), method: :put %>
                <%= link_to image_tag("thumbsdown.svg", alt: "Commend", size: "20x20" ), report_path(user), method: :put %>
            </td>
            
            <td><%= user.commends %></td>
            <td><%= user.reports %></td>
            
            <td><%= user.created_at %></td>
            
            <td>
                  <% if current_user.admin_user? && !current_user?(user) %>
                    <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                  <% end %>
            </td>
            <td>
                  <% if current_user.admin_user? && !current_user?(user) && !user.guest %>
                        <%= link_to "Promote to Admin", promote_path(user), method: :put,  data: { confirm: "You sure?" } %>
                  <% end %>
            </td>
            
        </tr>
        <% end %>
    </tbody>
</table>
<%= button_to "Delete all guests", destroy_old_guests_users_path, method: :get, data: { confirm: "You sure?" }, class: "btn btn-primary" %>