<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>


<body>
    <div class="header navbar-static-top">
        <div class = "navHeader container-fluid">
            <!--<nav>-->
                <ul class ="nav navbar-nav">
                    <li><%= link_to image_tag("title.svg", height: '57.5px', width: '190px', alt: "DrawParty"), "/" %></li>
                    <li><%= link_to 'HOME', "/", :class => is_active?("home") %></li>
                    <li><%= link_to 'ABOUT', '/about', :class => is_active?("about") %></li>
                    <li><%= link_to 'HELP', '/help', :class => is_active?("help") %></li>
                    <% if logged_in? %>
                        <li><%= link_to 'PLAY', '/lobbies' %></li>
                    <% end %>
                </ul>
            <!--</nav>-->
            <!--<nav>-->
                <ul class ="nav navbar-nav navbar-right">
                    <% if logged_in? %>
                        <% if current_user.guest %>
                            <li id="usernameID"><%= link_to(current_user.username, ) %></li>
                        <% else %>
                             <li id="usernameID"><%= link_to(current_user.username, user_path(current_user)) %></li>
                        <% end %>

                        <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>

                    <% else %>
                        <li><%= link_to 'SIGN UP', signup_url %></li>
                        <li><%= link_to 'LOG IN', login_path %></li>
                    <% end %>
                </ul>
            <!--</nav>-->
        </div>
    </div>
    
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>